section.b-debt-payment
	.container
		.row
			.col-8
				h2._title Виберите несколько задолжностей, чтобы погасить их одновременно
				._desc
					p Запись в Банке данных будет удалена или изменена (в случае частичного погашения задолженности) в течение 3 – 7 дней с момента оплаты, так как денежные средства должны поступить на депозитный счет отдела судебных приставов, распределены, перечислены взыскателю.
				include ../../layout/modules/warning-banner
			.col-4