section.b-debt-payment
	.container
		.row
			.col-8
				h2._title Виберите несколько задолжностей, чтобы погасить их одновременно
				._desc
					p Запись в Банке данных будет удалена или изменена (в случае частичного погашения задолженности) в течение 3 – 7 дней с момента оплаты, так как денежные средства должны поступить на депозитный счет отдела судебных приставов, распределены, перечислены взыскателю.
				.b-warning-banner
					._row
						._col.-left
							._title Внимание!
							._desc Возможно по вашему ФИО пограничные службы установили запрет на выезд за границу. Проверить наличие на выезд за границу можно нажав на кнопку ниже
							._small-text Запрет на выезд может накладываться согласно № 229-ФЗ от 02.10.2007
							a.b-btn._btn(href="#")
								span._text Проверить
								span._icon-wrap
									+icon('arrow-right')
						._col.-right
							._img-wrap
								img._img(src="img/others/state-border.png" alt="")
			.col-4