section.b-reasons-ban
	.container
		.row
			.col-12.col-lg-8
				h2._title Причины наложения запрета на выезд из страны
				ul.b-dotted-list.-biggest-dotted._dotted-list
					li._item Имеются не погашенные задолженности по налогам, кредитам, штрафам ГИБДД, коммунальным услугам на сумму более 30 000 рублей. Ограничение на выезд из страны от суммы 10 000 рублей, если срок погашения долгов назначенный судебным приставом был просрочен на 2 месяца
					li._item Взыскании алиментов, возмещении вреда, причиненного здоровью, возмещении вреда в связи со смертью кормильца, имущественного ущерба и морального вреда, причиненных преступлением, сумма долга более 10 000 рублей;
					li._item Является подозреваемым, либо привлечен в качестве обвиняемого;
					li._item Уклоняется от выполнения обещания наложенного на него судом.
					li._item Вынесено решение суда содержащее требования неимущественного характера.
					li._item Осужден за совершение преступления (до отбытия исполнения наказания или до освобождения от наказания);
					li._item Сообщил о себе заведомо неверные данные при оформлении документов для выезда из РФ (до решения вопроса в срок не более одного месяца органом, оформляющим такие документы);
					li._item Проходит государственную службу в органах федеральной службы безопасности (до окончания срока соответствующего контракта, трудового договора);
					li._item Уволен с военной службы в органах федеральной службы безопасности (на срок до пяти лет со дня увольнения с военной службы);
					li._item Признан несостоятельным (до вынесения арбитражным судом о прекращении производства по делу о несостоятельности);
			.col-12.col-lg-4
				.b-info-card._info-card
					._top-line
						._icon-wrap
							img._icon(src="img/icons/paper.svg" alt="")
						h3._title Статистика <br>по России:
					._center-line
						ul.b-table-list.-price.-smallest
							li._item
								._text.-title Всего выезд запрещён для:
								._text.-value 1 124 274 гр-н
							li._item
								._text.-title Всего имеют задолженность:
								._text.-value более 34 млн. гр-н
							li._item
								._text.-title Общие долги по кредитам:
								._text.-value 3 938 003 руб.
							li._item
								._text.-title Открытых дел по взысканию:
								._text.-value более 11 трлн. руб.