section.b-tax-debt-payment
	.container
		.row
			.col-8
				h3._title Найдено: <span>2</span>
		.row
			.col-12.col-lg-8
				label.b-choose-btn._choose-btn
					span._text Данные ФССП актуальные на дату 24.10.2020
					span.b-checkbox
						input(type="checkbox" name="choose-all")
						span._icon-wrap
							+icon('check')
						span._text Выбрать все
				._wrap
					.b-debt-table.-tax._debt-table.js-choose
						label._header
							span._title-wrap
								span._title-icon-wrap
									img._title-icon(src="img/icons/hands.svg" alt="")
								span._title Подоходный налог
							span.b-checkbox._checkbox.-small
								input(type="checkbox" name="debtID-1")
								span._icon-wrap
									+icon('check')
								span._text Выбрать
						._body
							._tr
								._td.-title УИН
								._td.-value 34909917268810271803382651
							._tr
								._td.-title Организация
								._td.-value МРИ ФНС России №8 по Ленинградской области
							._tr
								._td.-title Получатель платежа
								._td.-value УФК по Ленинградской области
							._tr
								._td.-title.-price-title Сумма
								._td.-price 6 500 руб.
					.b-debt-table.-tax._debt-table.js-choose
						label._header
							span._title-wrap
								span._title-icon-wrap
									img._title-icon(src="img/icons/car.svg" alt="")
								span._title Транспортный налог
							span.b-checkbox._checkbox.-small
								input(type="checkbox" name="debtID-1")
								span._icon-wrap
									+icon('check')
								span._text Выбрать
						._body
							._tr
								._td.-title УИН
								._td.-value 34909917268810271803382651
							._tr
								._td.-title Организация
								._td.-value Межрайонная инспекция ФНС России №3 по Ленинградской области
							._tr
								._td.-title Получатель платежа
								._td.-value УФК Ленинградская обл, Кингисепп 
							._tr
								._td.-title.-price-title Сумма
								._td.-price 11 500 руб.
				._desktop-banner
					include ../../layout/modules/warning-banner
			.col-12.col-lg-4
				.b-info-card.-fix-table._info-card
					._top-line
						._icon-wrap
							img._icon(src="img/icons/paper.svg" alt="")
						h3._title Результаты <br>по данным ФНС
					._center-line
						ul.b-table-list.-smallest
							li._item
								._text.-title ИНН:
								._text.-value 563565286576
							li._item
								._text.-title Всего найдено записей:
								._text.-value 2
							li._item
								._text.-title Сумма задолжностей:
								._text.-value 28 984 руб.
						button.b-btn.-border._btn Оплатить все
				._mobile-banner
					include ../../layout/modules/warning-banner
