# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Css files
app/css/

# files
app/js/libs.min.js
app/js/main.bundle.js

# html
app/*.html

#materials
materials/

#Mac os DS_Store
.DS_Store