.notification-banner
	background: #EBEDF4
	border-radius: 5px
	padding: 40px
	+lg
		padding: 30px
	+sm
		padding: 20px

	&__title
		margin-bottom: 13px

	&__sub-title
		font-weight: normal
		margin-bottom: 30px

	&__wrap
		display: flex
		align-items: center
		margin: 0 -10px
		+md
			flex-wrap: wrap

	&__col
		padding: 0 10px
		+md
			flex-basis: 100%
			max-width: 100%
		&--left
			+min_md
				flex-basis: 68.2%
				max-width: 68.2%
			+md
				margin-bottom: 16px
		&--right
			+min_md
				flex-basis: 31.8%
				max-width: 31.8%
