extend ../layout/template

block head
	- var title = 'Узнать задолженность по налогам по ИНН онлайн'
	|
	|

block content
	+breadcrumbs([
		{ path: '/debt', title: 'Узнать задолженность по налогам по ИНН онлайн' }
	])
	main.debt-page
		// Sections
		include ./debt/main
		include ./index/news-section
		include ./debt/tax-info
		include ./index/services-section
		include ./index/faq