extend ../layout/template

block head
	- var title = 'Главная | Запрет въезда'
	|
	|

block content
	main.main-page
		// Sections
		include ./index/main
		include ./index/last-checks
		include ./index/news-section
		include ./index/info-section
		include ./index/services-section
		include ./index/faq