extend ../layout/template

block head
    - var title = 'Новости | Запрет въезда'
    |
    |

block content
    +breadcrumbs([
        { path: '/news', title: 'Новости' }
    ])

    main.b-news-page
        .container
            .row
                .col-12
                    h1._title Новости Dolgi.net

            .row
                .col-12
                    .b-news-filters
                        ul._list
                            li._item
                                a(href="#")._link Новости
                            li._item
                                a(href="#")._link Банкроство
                            li._item
                                a(href="#")._link Налоги
                            li._item
                                a(href="#")._link Задолженности
                            li._item
                                a(href="#")._link Инструкции

            .row
                .col-lg-4._col
                    +news-card('img/news/news_img_1.jpg','23 сентября 2020','Актуальная версия перечня государственных услуг и государственных функций по осуществлению...', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_2.jpg','23 сентября 2020','В центрах госуслуг стартовала реализация механизма внесудебного банкротства граждан', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_3.jpg','10 апреля 2020','Судебные приставы предложили на полгода прекратить взыскивать долги с граждан', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_4.jpg','23 сентября 2020','День правовой помощи детям: юристы проведут бесплатные консультации 20 ноября', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_5.jpg','23 сентября 2020','В центрах госуслуг стартовала реализация механизма внесудебного банкротства граждан', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_6.jpg','10 апреля 2020','Представители Минэкономразвития России обсудили с представителями ОЭСР вопросы регуляторной политики в условиях пандемии', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_7.jpg','23 сентября 2020','День правовой помощи детям: юристы проведут бесплатные консультации 20 ноября', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_8.jpg','23 сентября 2020','В 4 регионах запущен пилотный проект «Цифровой МФЦ» ', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_9.jpg','10 апреля 2020','Минэкономразвития предлагает дать возможность губернаторам освобождать бизнес от проверок ', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_10.jpg','23 сентября 2020','День правовой помощи детям: юристы проведут бесплатные консультации 20 ноября', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_11.jpg','23 сентября 2020','В центрах госуслуг стартовала реализация механизма внесудебного банкротства граждан', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_12.jpg','10 апреля 2020','Представители Минэкономразвития России обсудили с представителями ОЭСР вопросы регуляторной политики в условиях пандемии', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_13.jpg','23 сентября 2020','День правовой помощи детям: юристы проведут бесплатные консультации 20 ноября', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_14.jpg','23 сентября 2020','В 4 регионах запущен пилотный проект «Цифровой МФЦ» ', 'default')
                .col-lg-4._col
                    +news-card('img/news/news_img_15.jpg','10 апреля 2020','Минэкономразвития предлагает дать возможность губернаторам освобождать бизнес от проверок ', 'default')
