extend ../layout/template

block head
  - var title = '-  Какие документы нужны, если ребенок поедет с одним из родителей? | Новости'
  |
  |

block content
  +breadcrumbs([
    { path: '/news', title: 'Новости' },
    { path: '', title: 'Какие документы нужны, если ребенок поедет с одним из родителей?' }
  ])

  main.b-news-single-page
    .container
      .row
        .col-lg-8
          h1._title Какие документы нужны, если ребенок поедет с одним из родителей?
          ._news-info
            ._category
              a(href="news.html")._category-link.lined-link Задолженности
            ._published-on 10 августа 2020
            ._viewed-count
              +icon('eye')
              span 2320
            ._read-time
              +icon('clock')
              span Время чтения: 15 мин.

          .b-news-contents
            ._title Содержание
            ul._list
              li._item
                a(href="#1")._link.js-scroll Как выехать за рубеж
              li._item
                a(href="#2")._link.js-scroll Как возобновить приостановленное производство
              li._item
                a(href="#3")._link.js-scroll Образец заявления для приставов
              li._item
                a(href="#4")._link.js-scroll Жалоба на пристава
              li._item
                a(href="#5")._link.js-scroll Заключение

          ._preview
            img(src="img/news/news_preview.jpg" alt="")

          ._content
            p Соответствующий проект постановления Правительства подготовлен Минэкономразвития в рамках реализации Федерального закона № 478-ФЗ «О внесении изменений в отдельные законодательные акты Российской Федерации в части внедрения реестровой модели предоставления государственных услуг по лицензированию отдельных видов деятельности».
            p Подготовленным Минэкономразвития проектом акта устанавливаются правила формирования и ведения лицензирующими органами реестров лицензий на виды деятельности, подлежащие лицензированию.
            p Документом определяются перечень сведений, подлежащих внесению в реестр лицензий, случаи, в которых указанные сведения подлежат внесению в реестр лицензий, сроки внесения сведений в реестры лицензий.
            p Принятие постановления обеспечит оптимизацию деятельности лицензирующих органов, в частности, процедур предоставления и переоформления лицензий, обеспечит сокращение бумажного документооборота, связанного с оформлением и выдачей лицензий.
            p Также проектом акта предусматривается совершенствование процедуры внесения изменений в реестр лицензий в случае изменения места нахождения лицензиата - юридического лица, места жительства лицензиата - индивидуального предпринимателя, места осуществления лицензируемого вида деятельности, связанного с переименованием географического объекта, переименованием улицы, площади или иной территории, изменением нумерации дома. Такое внесение изменений в реестр не потребует переоформления лицензий.
            p «Положения проекта постановления затронут 52 вида деятельности, подлежащих лицензированию, к примеру, образовательная, медицинская деятельность, коснутся более 600 тысяч действующих лицензиатов», – прокомментировал директор Департамента государственной политики в сфере лицензирования, контрольно-надзорной деятельности, аккредитации и саморегулирования Александр Вдовин.
            p Документ предполагает улучшение работы 19 лицензирующих органов (включая их территориальные органы), осуществляющих выдачу лицензий на федеральном уровне, а также работы лицензирующих органов субъектов Российской Федерации, осуществляющих лицензирование в рамках переданных и собственных полномочий.

            h3(data-id="1") Как выехать за рубеж с ребенком, если один из <br/> родителей — иностранный гражданин
            p Разрешение на выезд ребенка, если отец иностранец: особый случай, когда согласие папы — иностранного гражданина не потребуется (аналогично и в отношении мамы-иностранки). Закон позволяет свободно выезжать за рубеж с ребенком, если отец или мама не имеют украинского гражданства, и отсутствуют в пропускном пункте на границе. Чтобы воспользоваться этим правом, во время пересечения границы нужно показать госслужащим свидетельство о рождении. В нем должна быть запись, что папа ребенка — иностранный гражданин или мама-иностранка. Если мать или отец находится на постоянном консульском учете или выбывает на ПМЖ в другую страну, отправляться за пределы страны с детьми она или он тоже может свободно.

            .b-debt-check-card.-hidden
              h3._title Проверка долгов
              form.form
                .b-input
                  span._text ФИО полностью
                  input._input(type="text" name="fullname" placeholder="Иванов Иванович Иван")
                .b-select-wrap._select
                  span._text Выбирите регион
                  select(name="region" data-placeholder="Выберите регион" data-search-not-found="Совпадений не найдено")
                    option
                    option Алтайский край
                    option Архангельская область и Ненецкий автономный округ
                    option Белгородская область
                    option Забайкальский край
                    option Калужская область

                button.b-btn._btn
                  span._text Проверить

            h3(data-id="2") Можно обойтись без разрешения второго из <br/> родителей на выезд ребенка за границу
            p Разрешение на выезд ребенка, если отец иностранец: особый случай, когда согласие папы — иностранного гражданина не потребуется (аналогично и в отношении мамы-иностранки). Закон позволяет свободно выезжать за рубеж с ребенком, если отец или мама не имеют украинского гражданства, и отсутствуют в пропускном пункте на границе. Чтобы воспользоваться этим правом, во время пересечения границы нужно показать госслужащим свидетельство о рождении. В нем должна быть запись, что папа ребенка — иностранный гражданин или мама-иностранка. Если мать или отец находится на постоянном консульском учете или выбывает на ПМЖ в другую страну, отправляться за пределы страны с детьми она или он тоже может свободно.

            h3(data-id="3") Как сделать разрешение на выезд ребенка за рубеж?
            p Чтобы получить разрешение на поездку за границу, необходимо обратиться к нотариусу:
            ul
              li Если поездкaа планируется одним из brродителей, второму нужно посетить нотариуса и <br/> оформить такое разрешение.
              li В случае, если ребенок отправляется за рубеж с сопровождающим, заявление подают оба родителя.

            p Для осуществления процедуры нужно предоставить паспорта родителей, копию или оригинал свидетельства о рождении ребенка. Сроки выдачи разрешения на выезд ребенка за границу и цена услуги зависят от конкретного специалиста, к которому вы обратились.
            p Следует учесть, что разрешение родителей на выезд ребенка за границу — обязательное условие для посещения ряда стран Шенгенского соглашения. Его необходимо оформить даже в том случае, если ребенок будет путешествовать с обоими родителями.

        .col-lg-4
          .b-debt-check-card.-hidden
            h3._title Проверка долгов
            form.form
              .b-input
                span._text ФИО полностью
                input._input(type="text" name="fullname" placeholder="Иванов Иванович Иван")
              .b-select-wrap._select
                span._text Выбирите регион
                select(name="region" data-placeholder="Выберите регион" data-search-not-found="Совпадений не найдено")
                  option
                  option Алтайский край
                  option Архангельская область и Ненецкий автономный округ
                  option Белгородская область
                  option Забайкальский край
                  option Калужская область

              button.b-btn._btn
                span._text Проверить


  section.b-related-news
    .container
      .row
        .col-12
          h2._title Похожие новости
      .row
        .col-md-6.col-lg-4._col
          +news-card('img/news/news_img_1.jpg','23 сентября 2020','Актуальная версия перечня государственных услуг и государственных функций по осуществлению...', 'default')
        .col-md-6.col-lg-4._col
          +news-card('img/news/news_img_2.jpg','23 сентября 2020','В центрах госуслуг стартовала реализация механизма внесудебного банкротства граждан', 'default')
        .col-md-6.col-lg-4._col
          +news-card('img/news/news_img_3.jpg','10 апреля 2020','Судебные приставы предложили на полгода прекратить взыскивать долги с граждан', 'default')
