extend ../layout/template

block head
	- var title = 'Информация об оплате?'
	|
	|

block content
	+breadcrumbs([
		{ path: '/payments-info', title: 'Информация об оплате?' }
	])
	main.payments-info-page
		// Sections
		section.b-payments-info
			.container
				.row
					.col-lg-10
						._wrap
							h1._main-title Информация об оплате?
							._main-desc.md-desc
								p Оплата любого тарифа возможна банковской картой, Яндекс Деньгами, Qiwi кошелек, оплата мобильным телефоном<br> и Webmoney. Оплата проверки автомобиля осуществляется на сайте через платежный агрегатор PayAnyWay. После оплаты в течение 5-30 мин. на ваш почтовый адрес поступит письмо с полным отчетом о проверке. В случае возникновения вопросов или трудностей при оплате, свяжитесь с тех. поддержкой по e-mail.
							h2._title.mb-15 Банковские карты
							._sub-title.sm-desc Сервис приёма оплаты предоставлен
								a._link.accent-link(href="#") PayAnyWay
							.b-cards-info._cards-info
								._icons-wrap
									img._icon(src="img/cards/visa.png" alt="")
									img._icon(src="img/cards/master-card.png" alt="")
									img._icon(src="img/cards/mir.png" alt="")
								._row
									._col
										._desc.sm-desc PayAnyWay не передает данные Вашей карты магазину и иным третьим лицам. Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.
									._col
										._desc.sm-desc В соответствии с ФЗ «О защите прав потребителей» в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.
							h2._title.mb-20 Электронные деньги
							.b-wallets._wallets
								._row
									._col
										._item
											._img-wrap
												img._img(src="img/wallets/webmoney.png" alt="")
											._desc.sm-desc Для совершения оплаты вы должны быть зарегистрированы в системе WebMoney Transfer. К оплате принимаются титульные знаки WMR, зачисление денег происходит мгновенно.
									._col
										._item
											._img-wrap
												img._img(src="img/wallets/yd.png" alt="")
											._desc.sm-desc Для осуществления оплаты с помощью сервиса Яндекс.Деньги вам необходимо иметь кошелек, зарегистрированный на сайте системы. Зачисление платежей через Яндекс.Деньги происходит мгновенно.
								._row
									._col
										._item
											._img-wrap
												img._img(src="img/wallets/qiwi.png" alt="")
											._desc.sm-desc Выберите в качестве оплаты QIWI Кошелёк и введите номер своего сотового телефона. Оплатите созданный автоматически счёт на сайте сервиса. Если у вас нет QIWI Кошелька, вам необходимо зарегистрировать его на сайте сервиса или в любом из приложений QIWI Кошелька.
									._col
										._item
											._img-wrap
												img._img(src="img/wallets/moneta.png" alt="")
											._desc.sm-desc Для осуществления оплаты с помощью Монета.Ру вам необходимо иметь кошелек, зарегистрировать который можно на сайте системы. Способы пополнения кошелька можно найти на сайте Монета.Ру в разделе «Как пополнить». Зачисление платежей через Монета.Ру происходит мгновенно.
							h2._title Сервис приёма оплаты предоставлен PayAnyWay
							._desc.sm-desc
								p PayAnyWay не передает данные Вашей карты магазину и иным третьим лицам. Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.
								p В соответствии с ФЗ «О защите прав потребителей» в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.
							h2._title Условия возврата
							._desc.sm-desc.mb-40
								p Если по каким-либо причинам Вы решили отказаться от исполнения договора о выполнении работ (оказании услуг), то можете сделать это в соответствии с Законом РФ «О защите прав потребителей» от 07.02.1992 № 2300-1.
								p Потребитель вправе расторгнуть договор о выполнении работы (оказании услуги) в любое время, уплатив исполнителю часть цены пропорционально части выполненной работы (оказанной услуги) до получения извещения о расторжении указанного договора и возместив исполнителю расходы, произведенные им до этого момента в целях исполнения договора, если они не входят в указанную часть цены работы (услуги).
							.b-number-list._number-list
								._item
									._title
										._number 1.
										| Потребитель при обнаружении недостатков оказанной услуги вправе по своему выбору потребовать:
									ul.b-dotted-list
										li._item Безвозмездного устранения недостатков;
										li._item Соответствующего уменьшения цены;
										li._item Возмещения понесенных им расходов по устранению недостатков своими силами или третьими лицами;
								._item
									._title
										._number 2.
										| Потребитель вправе предъявлять требования, связанные с недостатками оказанной услуги, если они обнаружены в течение гарантийного срока, а при его отсутствии в разумный срок, в пределах двух лет со дня принятия оказанной услуги;
								._item
									._title
										._number 3.
										| При отказе от исполнения договора потребитель имеет право на возврат выплаченных исполнителю денежных сумм;
								._item
									._title
										._number 4.
										| Потребитель вправе потребовать также полного возмещения убытков, причиненных ему в связи с недостатками выполненной работы (оказанной услуги);
								._item
									._title
										._number 5.
										| Исполнитель отвечает за недостатки услуги, на которую не установлен гарантийный срок, если потребитель докажет, что они возникли до ее принятия им или по причинам, возникшим до этого момента.