section.b-contacts.section
	.container
		h1._title.main-title Контакты
		.row
			.col-lg-5
				h3._sub-title Служба поддержки
				._desc.md-desc
					p Если у вас возникли трудности, нестандартные вопросы, желание узнать состояние заказа, вопросы по возврату денежных средств
				._small-title Адрес
				._address 125039, Москва, Пресненская наб., д. 10, стр. 2
				._small-title Телефон
				a._phone(href="tel:+74991104983") +7 (499) 110 49 83
				.b-work-time._work-time
					._item
						._title понедельник – четверг:
						._title.-value 09:00 – 18:00
					._item
						._title пятница:
						._title.-value 09:00 – 16:45
				._small-title Электронная почта
				a._email(href="mailto:info@dolgi.net") info@dolgi.net

			.col-lg-7
				.map
					#map