
.tax-debt-payment
	padding: 50px 0 7px

	&__title
		font-weight: 600
		font-size: 21px
		line-height: 26px
		color: $c1
		margin-bottom: 29px
		span
			color: $accentLighten

	&__info-card
		.table-list
			margin-bottom: 32px
			&__item
				justify-content: space-between
			&__text
				flex-basis: auto
				max-width: 100%

	&__choose-btn
		margin-bottom: 20px

	&__debt-table
		&:not(:last-child)
			margin-bottom: 20px
