.news-contents
  margin-bottom: 50px
  +lg
    margin-bottom: 40px

  &__title
    font-size: 17px
    line-height: 17px
    font-weight: 500
    color: $c1
    margin-bottom: 21px
    +md
      margin-bottom: 10px

  &__list
  &__item
    margin-bottom: 6px
  &__link
    position: relative
    display: inline-flex
    font-size: 15px
    line-height: 20px
    font-weight: 500
    color: $accentLighten
    padding-left: 13px
    text-decoration: underline
    &::before
      content: '-'
      position: absolute
      top: 0
      left: 0
    &:hover
      color: $accentLighten
      text-decoration: none
