.header
	&__top-line
		justify-content: space-between
		align-items: center
		padding: 20px 0
		+lg
			border-bottom: 1px solid #DEE5EF

	&__col
		padding: 0 $gridPadding

	&__nav-wrap
		display: flex
		align-items: center

	&__nav-line
		margin-right: 40px
		+lg
			display: none

	&__bottom-line
		background-color: $accent
		+lg
			display: none

	&__trs-btn
		+lg
			margin-right: 12px
