.news-filters
	margin-bottom: 18px
	+sm
		width: calc(100% + 30px)
		padding-left: 15px
		margin-bottom: 0
		margin-left: -15px
		overflow-x: scroll

	&__list
		display: flex
		flex-wrap: wrap
		align-items: center
		+sm
			flex-wrap: nowrap

	&__item
		margin-bottom: 10px
		margin-right: 10px

	&__link
		display: block
		font-size: 13px
		line-height: 13px
		color: $c1
		padding: 12px 16px
		border-radius: 5px
		border: 1px solid $bdColor
		&:hover
			color: $c1
			border-color: $accentLighten
