section.b-confirmation-payment.-bailiff-service.section
	.container
		h1._title.main-title Задолженности ФССП
		.row
			.main-col.main-col--left
				._wrap
					.b-unpaid-debt._unpaid-debt
						._header
							._col
								._header-title Не оплаченная задолженность
							._col
								._header-title Сумма
						._body
							.b-debt-table.-unbordered._debt-table
								._header
									._col
										._title-wrap
											._title Должник
											._name РУДАКОВ ДМИТРИЙ СЕРГЕЕВИЧ 21.03.1984 ВОРОНЕЖСКАЯ ОБЛ
									._col
										.b-price
											._text 2 981.39 руб.
											button.cancel-btn._cancel
												+icon('cancel')
								._body
									._tr
										._td.-title Номер и дата испол. производства:
										._td.-value 34909917268810271803382651
									._tr
										._td.-title Реквизиты испол. документа:
										._td.-value Акт по делу об административном правонарушении от 26.06.2018 № 4-464/18 СУДЕБНЫЙ УЧАСТОК № 5 В ЦЕНТРАЛЬНОМ СУДЕБНОМ РАЙОНЕ ВОРОНЕЖСКОЙ ОБЛАСТИ
									._tr
										._td.-title Отдел судебных приставов:
										._td.-value Бутурлиновский РОСП 397507, Россия, Воронежская обл., , г. Бутурлиновка, , ул. Попкова, д. 11,
									._tr
										._td.-title Пристав-исполнитель:
										._td.-value ХРИСТЕНКО О. А. +74736121033, +7(47361)2-10-33
									._tr
										._td.-title Предмет исполнения:
										._td.-value Штраф как вид наказания по делам об АП, назначенный судом (за исключением дел по протоколам ФССП)

					form._form
						._fields
							.b-input._input
								span._text Фамилия Имя Отчество плательщика
								input._input(type="text" name="fullname" placeholder="Иванов Иван Иванович")
							.b-input._input
								span._text E-mail  для получения квитанции
								input._input(type="text" name="email" placeholder="name@mail.ru")
						._info
							._info-title Колличество задолженностей:
							._info-value 1 шт. на сумму 2 981.39  рублей
						._bottom-line
							.input-row._flex-end
								.input-col
									.b-agreement
										label.b-checkbox
											input(type="checkbox" name="agreement" required checked)
											span._icon-wrap
												+icon('check')
											span._text Я согласен на обработку моих<br> <a href="agreement.html" class="accent-link">персональных данных</a> для получения ИНН
								.input-col
									button.b-btn._btn Оптатить 500 рублей

			.main-col.main-col--right
				.b-debt-desk.-long._debt-desk
					ul._list
						li._item
							._top-line
								._icon-wrap
									img._icon(src="img/icons/credit-card.svg" alt="")
								._text Платите любым удобным способом
							._desc Безопасность обработки интернет платежей через платежный шлюз банка гарантирована международным сертификатом безопасности PCI DSS. Передача информации происходит с применением технологии шифрования TLS
						li._item
							._top-line
								._icon-wrap
									img._icon(src="img/icons/checklist.svg" alt="")
								._text Отправка квитанций после оплаты
							._desc Сведения о задолженностях предоставлены из базы данных Федерального казначейства РФ системы ГИС ГМП.
						li._item
							._top-line
								._icon-wrap
									img._icon(src="img/icons/hands.svg" alt="")
								._text Зачисление <br> в ГИС ГМП
							._desc Запись в банке исполнительных производств будет удалена или изменена ( в случае частичного погашения задолженности) в течении 3-7 дней