footer.b-footer
	._top-line
		.container
			.row
				._col.-first
					a.b-logo.-white(href="index.html")
						span._img-wrap
							img._img(src="img/logo/logo.svg" alt="")
						span._title-wrap
							span._title dolgi.net
							span._desc - онлайн проверка задолженностей
				._col.-second
					.row._row
						._col
							._title Сервисы
							nav.b-footer-nav
								ul._list
									li._item
										a._link(href="#") Проверить запрет на выезд за границу
									li._item
										a._link(href="#") Проверить паспорт на действительность
									li._item
										a._link(href="#") Узнать ИНН по паспорту
									li._item
										a._link(href="#") Проверить налоги
									li._item
										a._link(href="#") Узнать задолженность
						._col
							._title Информация
							nav.b-footer-nav
								ul._list
									li._item
										a._link(href="#") Контакты
									li._item
										a._link(href="#") Новости
									li._item
										a._link(href="#") Способ оплаты
						._col
							._title Тех. поддержка
							._links-wrap
								a._big-link.-phone(href="tel:+74995461133") +7 (499) 546-11-33
								a._big-link.-email(href="mailto:info@dolgi.net") info@dolgi.net
							._title.mb-20 Поделиться
							nav.b-social-nav
								ul._list
									li._item
										a._link(href="#")
											+icon('vk')
									li._item
										a._link(href="#")
											+icon('fb')
									li._item
										a._link(href="#")
											+icon('ok')
	._bottom-line
		.container
			.row
				._col.-first
					._text dolgi.net.© 2016-2020
				._col.-second
					._wrap
						._icon-wrap
							+icon('https')
						._politics-wrap
							a._link(href="politics.html") Политика конфиденциальности
							a._link(href="agreement.html") Пользовательское соглашение


|
|
|
// Request popup
.b-mfp.-request-popup.zoom-anim-dialog.mfp-hide#request
	form._form
		+input('text','name','Имя','Ваше имя', true)
		+input('text','phone','Телефон','Телефон', false)
		button.btn Send
		.b-form-result
			.b-mess
				._title Success!
				._desc We will contact with you soon

|
|
|
// Success popup
.b-mfp.-succes-popup.zoom-anim-dialog.mfp-hide#success
	.b-form-result.-success
		.b-mess
			._title Success!
			._desc We will contact with you soon

|
|
|
// Scripts
script(src="js/libs.min.js")
script(src="js/main.bundle.js")