header.b-header
	.container
		.row._top-line
			._col.-left
				a.b-logo(href="index.html")
					span._img-wrap
						img._img(src="img/logo/logo.svg" alt="")
					span._title-wrap
						span._title dolgi.net
						span._desc - онлайн проверка задолженностей
			._col.-right
				._nav-wrap
					nav.b-nav-line._nav-line
						ul._list
							li._item
								a._link.lined-link(href="news.html") Новости
							li._item
								a._link.lined-link(href="contacts.html") Контакты
					a.b-trs-btn(href="#")
						span._icon-wrap
							img._icon(src="img/icons/lock.svg" alt="")
						span._text Личный кабинет
	._bottom-line
		.container
			.row._row
				.col
					nav.b-nav
						ul._list
							li._item
								a._link(href="#") Узнать ИНН
							li._item.-active
								a._link(href="index.html") Задолженности ФССП
							li._item
								a._link(href="debt.html") Налоги ФНС
							li._item
								a._link(href="#") Проверить паспорт                           
							li._item
								a._link(href="check-travel-ban.html") Запрет на выезд