section.b-tax-info
	.container
		.row
			.col-8
				h2._title Какие бывают налоги для физических лиц
				h4._sub-title Если должник не погашает задолженность, в таком случае судебные приставы применяют меры в соотствие с статьей 67.1.Ф3:
				ul.b-simple-list._simple-list
					li._item.md-desc - Вовремя не оплатили штраф ГИБДД
					li._item.md-desc - Не платили кредит, ипотеку и т.д.
					li._item.md-desc - Исковое заявление (физ/юр лица) против вас
					li._item.md-desc - Неуплата налогов
				._desc.md-desc
					p подавать запросы в банковские учреждения для выявления счетов, вкладов, депозитов, открытых на имя должника. При их наличии на денежные средства накладывается арест. Изъятию подлежат ценные бумаги, принадлежащие неплательщику;
			.col-4
				._img-wrap
					img._img(src="img/others/tax-img.jpg" alt="")