.main
	padding: 61px 0 59px
	+lg
		padding: 30px 0
	&__col
		padding: 0 $gridPadding

		&--left
			flex-basis: 63.7%
			max-width: 63.7%
			padding-right: 50px

		&--right
			flex-basis: 36.3%
			max-width: 36.3%
			padding-left: 50px

.main-form
	&__fields
		margin-bottom: 24px
