.news-section
	padding: 78px 0 87px
	background: linear-gradient(180deg, #F3F4F4 0%, #F1F6F5 100%)
	&__title
		font-size: 24px
		line-height: 24px
		font-weight: 600
		color: $accent
		text-transform: uppercase
