.nav

	&__list
		display: flex
		align-items: center
		justify-content: space-between

	&__item
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: 0px
			left: 50%
			transform: translateX(-50%)
			width: 100%
			height: 3px
			background: #91E0C5
			opacity: 0
		&--active
			&:after
				opacity: 1

	&__link
		display: inline-block
		padding: 16px 41px 18px
		font-weight: 600
		font-size: 16px
		line-height: 16px
		color: #fff
		text-align: center
		+xl
			padding: 16px 15px 18px

		&:hover
			color: #fff
			background: #17816C
