.table-list
	&--price
		.table-list
			&__text
				&--value
					color: $accentLighten
	&--smallest
		.table-list
			&__item
				align-items: flex-start
				padding: 11px 10px
			&__text
				line-height: 18px

	&__item
		display: flex
		align-items: center
		justify-content: space-between
		border-radius: 5px
		padding: 13.5px 10px
		&:nth-child(odd)
			background: rgba(#F2F5F4, 0.75)

	&__text
		font-size: 13px
		line-height: 13px
		&--title
			color: $c1
			margin-right: 5px
		&--value
			font-weight: 500
			white-space: nowrap
