////////// Typography
::selection
	background-color: $c1
	color: #fff

ul
	margin: 0
	padding: 0
	list-style-type: none

a
	transition: all .3s ease
	&:hover
		text-decoration: none
	&:focus
		text-decoration: none
		outline: none

img
	width: auto
	max-width: 100%
	height: auto

// Titles
h1, h2, h3, h4, h5, h6
	color: $c1

h1
	font-size: 36px
	line-height: 42px
	font-weight: 700
	+lg
		font-weight: 600
		font-size: 32px
	+md
		font-size: 24px
		line-height: 32px
	+sm
		font-size: 23px
		line-height: 30px
h2
	font-weight: 600
	font-size: 32px
	line-height: 42px
	+lg
		line-height: 32px
		font-size: 24px
	+md
		font-size: 26px
		line-height: 36px
	+sm
		font-size: 23px
		line-height: 30px
h3
	font-weight: 600
	font-size: 20px
	line-height: 24px
h4
	font-weight: 500
	font-size: 17px
	line-height: 25px
h5
	font-weight: 500
	font-size: 13px
	line-height: 20px
h6
	font-size: 12px

// Paragraphs
p
	// margin-bottom: 1em
	// color: inherit

.lg-desc
	font-size: 17px
	line-height: 24px
	color: $c2

.md-desc
	font-size: 15px
	line-height: 24px
	color: $c2
	+lg
		line-height: 22px

.sm-desc
	font-weight: normal
	font-size: 13px
	line-height: 18px
	color: $c2

.main-title
	margin-bottom: 26px

.main-desc
	margin-bottom: 55px
	max-width: 685px

.accent-link
	color: $accent
	text-decoration: underline
	text-decoration-color: rgba($accent, 0.25)
	&:hover
		color: $accent
		text-decoration: none
		text-decoration-color: rgba($accent, 0.25)
