.debt-payment
	padding: 62px 0 40px

	&__title
		font-weight: 600
		font-size: 21px
		line-height: 26px
		margin-bottom: 18px

	&__desc
		font-size: 13px
		line-height: 20px
		color: $c1
		max-width: 730px
		margin-bottom: 40px
		p
			margin-bottom: 0
