section.b-confirmation-payment.section
	.container
		h1._title.main-title Потверждение оплаты задолженностей
		.row
			.main-col.main-col--left
				._wrap
					.b-unpaid-debt._unpaid-debt
						._header
							._col
								._header-title Не оплаченная задолженность
							._col
								._header-title Сумма
						._body
							._item
								._col
									._title Транспортный налог
									._uin-wrap
										._uin УИН
										._uin-number 1000922382281662000375
								._col
									.b-price
										._text 500 руб.
										button.cancel-btn._cancel
											+icon('cancel')
							._item
								._col
									._title Подоходный налог
									._uin-wrap
										._uin УИН
										._uin-number 434509223822862534538
								._col
									.b-price
										._text 500 руб.
										button.b-cancel-btn._cancel
											+icon('cancel')
					form._form
						._fields
							.b-input._input
								span._text Фамилия Имя Отчество плательщика
								input._input(type="text" name="fullname" placeholder="Иванов Иван Иванович")
							.b-input._input
								span._text E-mail  для получения квитанции
								input._input(type="text" name="email" placeholder="name@mail.ru")
						._info
							._info-title Колличество задолженностей:
							._info-value 2 шт. на сумму 1000 рублей
						._bottom-line
							.input-row._flex-end
								.input-col._agreement-col
									.b-agreement
										label.b-checkbox
											input(type="checkbox" name="agreement" required checked)
											span._icon-wrap
												+icon('check')
											span._text Я согласен на обработку моих<br> <a href="agreement.html" class="accent-link">персональных данных</a> для получения ИНН
								.input-col._btn-col
									button.b-btn._btn Оптатить 500 рублей

			.main-col.main-col--right
				.b-debt-desk.-long._debt-desk
					ul._list
						li._item
							._top-line
								._icon-wrap
									img._icon(src="img/icons/credit-card.svg" alt="")
								._text Платите любым удобным способом
							._desc Безопасность обработки интернет платежей через платежный шлюз банка гарантирована международным сертификатом безопасности PCI DSS. Передача информации происходит с применением технологии шифрования TLS
						li._item
							._top-line
								._icon-wrap
									img._icon(src="img/icons/checklist.svg" alt="")
								._text Отправка квитанций после оплаты
							._desc Сведения о задолженностях предоставлены из базы данных Федерального казначейства РФ системы ГИС ГМП.
						li._item
							._top-line
								._icon-wrap
									img._icon(src="img/icons/hands.svg" alt="")
								._text Зачисление <br> в ГИС ГМП
							._desc Запись в банке исполнительных производств будет удалена или изменена ( в случае частичного погашения задолженности) в течении 3-7 дней