section.b-faq
	.container
		h2._title Часто задаваемые вопросы
		.row._row
			.col-12.col-lg-4
				._nav-wrap
					nav.b-faq-nav
						ul._list
							li._item
								a._link.js-scroll(href="#1")
									span._number 1.
									span._text Как узнать откуда задолженность у судебных приставов?
							li._item
								a._link.js-scroll(href="#2")
									span._number 2.
									span._text Каковы сроки предъявления исполнительных документов к исполнению?
							li._item
								a._link.js-scroll(href="#3")
									span._number 3. 
									span._text Чем грозят неоплаченные задолженности?
							li._item
								a._link.js-scroll(href="#4")
									span._number 4.
									span._text За какие долги могут не выпустить за границу?
							li._item
								a._link.js-scroll(href="#5")
									span._number 5. 
									span._text Как получить справку об отсутствии задолженности?
			.col-12.col-lg-8
				.b-faq-content
					._item(data-id="1")
						h4._title 
							span 1.
							| Как узнать откуда задолженность у судебных приставов?
						._desc
							p Судебные приставы занимаются взысканием долгов. Основанием для этого является исполнительный лист, который они получают от судей. Задолженности бывают нескольких характеров: невыплата алиментов, долги по коммунальным платежам, не внесенные платежи по кредиту или неоплаченные штрафы.
							p Если не оплачивать долги долгое время их взыскают приндительно через ФССП. После этого все средства, которые взыскали, идут на счет истца.
					._item(data-id="2")
						h4._title 
							span 2.
							| Каковы сроки предъявления исполнительных документов к исполнению?
						._desc
							p Исполнительные листы, выдаваемые на основании судебных актов могут быть предъявлены к исполнению в течение трех лет со дня вступления судебного акта в законную силу. Исполнительные листы, содержащие требования о возвращении на основании международного договора Российской Федерации незаконно перемещенного в Российскую Федерацию или удерживаемого в Российской Федерации ребенка, предъявляются к исполнению в течение одного года со дня вступления в законную силу судебного акта.
					._item(data-id="3")
						h4._title 
							span 3.
							| Чем грозят неоплаченные задолженности?
						._desc
							p При неуплате установленных судом задолженностей на имущество, денежные средства и иные ценности, находящиеся на счетах и вкладах должника, может быть наложен арест.
							p В ряде случаев должник также может подвергнуться уголовному преследованию (максимальное наказание — три года лишения свободы). Уголовная ответственность предусмотрена за следующие действия:
						ul.b-dotted-list.-small._mt-20
							li._item неуплата средств на содержание детей или нетрудоспособных родителей;
							li._item злостное уклонение от погашения кредиторской задолженности;
							li._item неисполнение приговора суда, решения суда или другого судебного акта.
					._item(data-id="4")
						h4._title 
							span 4.
							| За какие долги могут не выпустить за границу?
						h5._sub-title Вас могут не выпустить за границу, если вы не исполнили в установленный срок:
						ul.b-dotted-list.-big
							li._item требования о взыскании алиментов, возмещении вреда, причиненного здоровью, возмещении вреда в связи со смертью кормильца, имущественного ущерба и (или) морального вреда, причиненных преступлением, если сумма задолженности по исполнительному документу превышает 10 000 рублей;
							li._item другие требования, если сумма задолженности по исполнительному документу составляет от 30 000 рублей (или более 10 000 рублей, в случае если вы просрочили исполнение требований на два месяца).
					._item(data-id="5")
						h4._title 
							span 5.
							| Как получить справку об отсутствии задолженности?
						h5._sub-title Получить справку об отсутствии задолженностей по исполнительным производствам можно:
						ul.b-dotted-list.-small
							li._item онлайн, подав заявление через портал государственных услуг РФ;
							li._item лично, обратившись в отделение ФССП с заявлением о предоставлении справки.