section.b-info-section
	.container
		.row
			._col.-left
				h2._title Какие ограничения могут наложить судебные приставы
				._sub-title.lg-desc Если должник не погашает задолженность, в таком случае судебные приставы применяют меры в соотствие с статьей 67.1.Ф3:
				ul.b-simple-list._simple-list
					li._item.md-desc - Вовремя не оплатили штраф ГИБДД
					li._item.md-desc - Не платили кредит, ипотеку и т.д.
					li._item.md-desc - Исковое заявление (физ/юр лица) против вас
					li._item.md-desc - Неуплата налогов
				._desc.md-desc
					p подавать запросы в банковские учреждения для выявления счетов, вкладов, депозитов, открытых на имя должника. При их наличии на денежные средства накладывается арест. Изъятию подлежат ценные бумаги, принадлежащие неплательщику;
			._col.-right
				.b-info-card._info-card
					._top-line
						._icon-wrap
							img._icon(src="img/icons/paper.svg" alt="")
						h3._title Список задолженностей:
					._center-line
						ul.b-table-list.-price
							li._item
								._text.-title Кредитные платежи:
								._text.-value 32 445 руб.
							li._item
								._text.-title Коммунальные платежи:
								._text.-value 182 093 руб.
							li._item
								._text.-title Штрафы ГИБДД:
								._text.-value 3 938 003 руб.
							li._item
								._text.-title Налоги и сборы:
								._text.-value 893 002 руб.
							li._item
								._text.-title Запрет на вьезд за границу:
								._text.-value 17 983 чел.
					._bottom-line
						._rise-icon-wrap
							+icon('rise')
						._bottom-text - Статистика обращений к судебным приставам
