section.b-last-checks
	.container
		h2._title Последние проверки задолженностей ФССП
		._desc.lg-desc
			p Онлайн статистика обращений к судебным приставам по проверки задолженностей граждан России. Проверка задолженностей ФССП является актуальным на дату запроса.
		table.b-live-table
			thead
				tr
					th ФИО
					th Регион
					th Тип задолженности
					th Сумма
					th Транзакции
			tbody
				tr
					td Решотько Дмитрий Алексеевич
					td Кировская обл.
					td.red Комунальные услуги
					td 201 655.44 руб.
					td.red Не оплачен
				tr
					td Кречковский Александр
					td Свердловская обл.
					td.red Штраф ГИБДД
					td 0.00 руб.
					td.red Не оплачен
				tr
					td Гармиш Андрей Романович
					td Нижегородская обл.
					td.red Кредитные платежи
					td 0.00 руб.
					td.green Оплачен
				tr
					td Орчаков Владимир
					td Оренбургская обл.
					td Отсутствует
					td 4 094.05 руб.
					td &nbsp;
				tr
					td Аблязов Иршат Равилевич
					td Московская обл.
					td.green Нет долгов
					td 26 561.50 руб.
					td.green Оплачен