section.b-news-section
	.container
		h2._title Новости портала
		.row
			.b-news-slider.owl-carousel
				._item
					+news-card('img/news/news_img_1.jpg','23 сентября 2020','Актуальная версия перечня государственных услуг и государственных функций по осуществлению...', 'shadowed')
				._item
					+news-card('img/news/news_img_2.jpg','23 сентября 2020','В центрах госуслуг стартовала реализация механизма внесудебного банкротства граждан', 'shadowed')
				._item
					+news-card('img/news/news_img_3.jpg','10 апреля 2020','Судебные приставы предложили на полгода прекратить взыскивать долги с граждан', 'shadowed')
				._item
					+news-card('img/news/news_img_4.jpg','23 сентября 2020','День правовой помощи детям: юристы проведут бесплатные консультации 20 ноября', 'shadowed')
				._item
					+news-card('img/news/news_img_5.jpg','23 сентября 2020','В центрах госуслуг стартовала реализация механизма внесудебного банкротства граждан', 'shadowed')
				._item
					+news-card('img/news/news_img_6.jpg','10 апреля 2020','Представители Минэкономразвития России обсудили с представителями ОЭСР вопросы регуляторной политики в условиях пандемии', 'shadowed')
				._item
					+news-card('img/news/news_img_7.jpg','23 сентября 2020','День правовой помощи детям: юристы проведут бесплатные консультации 20 ноября', 'shadowed')
				._item
					+news-card('img/news/news_img_8.jpg','23 сентября 2020','В 4 регионах запущен пилотный проект «Цифровой МФЦ» ', 'shadowed')
				._item
					+news-card('img/news/news_img_9.jpg','10 апреля 2020','Минэкономразвития предлагает дать возможность губернаторам освобождать бизнес от проверок ', 'shadowed')
				._item
					+news-card('img/news/news_img_10.jpg','23 сентября 2020','День правовой помощи детям: юристы проведут бесплатные консультации 20 ноября', 'shadowed')
				._item
					+news-card('img/news/news_img_11.jpg','23 сентября 2020','В центрах госуслуг стартовала реализация механизма внесудебного банкротства граждан', 'shadowed')
				._item
					+news-card('img/news/news_img_12.jpg','10 апреля 2020','Представители Минэкономразвития России обсудили с представителями ОЭСР вопросы регуляторной политики в условиях пандемии', 'shadowed')
				._item
					+news-card('img/news/news_img_13.jpg','23 сентября 2020','День правовой помощи детям: юристы проведут бесплатные консультации 20 ноября', 'shadowed')
				._item
					+news-card('img/news/news_img_14.jpg','23 сентября 2020','В 4 регионах запущен пилотный проект «Цифровой МФЦ» ', 'shadowed')
				._item
					+news-card('img/news/news_img_15.jpg','10 апреля 2020','Минэкономразвития предлагает дать возможность губернаторам освобождать бизнес от проверок ', 'shadowed')