section.b-services-section
	.container
		h2._title Все сервисы для получения информации
		.row
			._slider.owl-carousel
				._item
					.b-services-card
						._top-line
							._img-wrap
								img._img(src="img/logo/ps.svg" alt="")
							._title  Проверить запрет <br>на выезд за границу
						._desc Проверка по официальной базе пограничных служб РФ
						a._link(href="#")
							._link-text Подробнее
							._link-icon-wrap
								+icon('double-arrow')
				._item
					.b-services-card
						._top-line
							._img-wrap
								img._img(src="img/logo/fms.svg" alt="")
							._title  Проверить паспорт <br>на действительность
						._desc Проверка через МВД и ФМС России
						a._link(href="#")
							._link-text Подробнее
							._link-icon-wrap
								+icon('double-arrow')
				._item
					.b-services-card
						._top-line
							._img-wrap
								img._img(src="img/logo/ns.svg" alt="")
							._title Узнать задолженность <br>по налогам ИНН
						._desc Проверить актуальную информацию по налогам
						a._link(href="#")
							._link-text Подробнее
							._link-icon-wrap
								+icon('double-arrow')